<html>
<div>
  <div>
    <h1 style="text-align:center">Endpoints para consumo da API Git-Researcher</h1>
  <div/>
  <div>
    <h2 style="color:#2eec2e;text-align:center">GET </h2>
    <h3 style="text-align:center">/lerReadme/:usuario/:repositorio</h3>
    <h3 style="text-align:center">/autentica</h3>
    <h3 style="text-align:center">/repos/:usuario</h3>
    


  </div>
  <div>
    <h2 style="color:#0004ff;text-align:center">POST</h2>
    <h3 style="text-align:center">/commit/:login/:repo/:branch/</h3>
    <h4 style="color:#474646;text-align:center">Parâmetros do Header:</h4>
    <h5 style="color:#635f5f;text-align:center">User -> Credenciais do usuário</h5>
    <h4 style="color:#474646;text-align:center">Parâmetros do Body:</h4>
    <h5 style="color:#635f5f;text-align:center">Content -> Conteúdo do arquivo</h5>
    <h5 style="color:#635f5f;text-align:center">Arquivo -> Nome do arquivo a ser commitado</h5>
    <h5 style="color:#635f5f;text-align:center">Commitmsg -> Mensagem do commit</h5>
  </div>
  <div>
    <h2 style="color:#f97218;text-align:center">PUT</h2>
    <h3 style="color:#6f856f;text-align:center">Nenhum endpoint no momento</h3>
  </div>
  <div>
    <h2 style="color:#f61d11;text-align:center">DELETE</h2>
    <h3 style="color:#6f856f;text-align:center">Nenhum endpoint no momento</h3>
  </div>
</div>
</html>
